@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i');


/* Base CSS */
.alignleft         		  {float: left; margin-right: 15px;}
.alignright        		  {float: right; margin-left: 15px;}
.aligncenter       		  {display: block; margin: 0 auto 15px;}
a:focus            		  {outline: 0 solid}
img                		  {max-width: 100%; height: auto;}
h1,h2,h3,h4,h5,h6  		  {margin: 0 0 15px; font-weight: 400;}
body               		  {color: #878787; font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 15px; line-height: 1.8;}
a:hover            		  {text-decoration: none;}


/* Main CSS */
.section-padding		  	   {padding: 80px 0;}
.fullwidth-bg-area 			   {background-image: url("../img/bg.jpg"); background-size: cover; background-position: center -300px; margin: 70px 0;}
.margin-minus				   {margin-top: -70px; margin-bottom: -70px; padding: 120px 70px; font-size: 20px; line-height: 1.9;}
.dark-bg					   {background: #2b2f40; color: #fff;}
.bordered-btn				   {display: inline-block; color: #fff; border: 2px solid #cca876; padding: 10px 40px;}
.margin-minus .bordered-btn	   {margin-top: 40px; margin-left: 20px;}
.boxed-content h2 			   {font-size: 50px; font-weight: 400;}
.author-name				   {position: relative; font-size: 22px; margin-top: 20px; font-weight: 400; padding-left: 30px;}
.author-name span 			   {font-size: 70%; font-weight: 300; opacity: .6;}
.author-name:before 		   {position: absolute; content: ""; width: 20px; height: 2px; top: 50%; margin-top: -2px; left: 0; background: #fff;}
.boxed-content	               {position: relative; padding: 30px 20px 30px;}
.boxed-content:before          {position: absolute; content: ""; left: -40px; top: 0; width: 50px; height: 50px; border-left: 1px solid #fff; border-top: 1px solid #fff;}
.boxed-content:after          {position: absolute; content: ""; right: -40px; bottom: 0; width: 50px; height: 50px; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
