/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus { outline: 0 solid }

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 15px;
    font-weight: 700;
}

body {
    font-family: 'Lato', sans-serif;
}

a:hover { text-decoration: none }

.section-padding {padding: 80px 0;}

.quote-form-wrap img {display: block; margin: 0 auto;}

.blue-quote-form {background: #19b5ff; margin-top: -83px; max-width: 770px; padding-top: 30px; padding-left: 100px; padding-right: 100px; padding-bottom: 50px;}

.blue-quote-form h3 {font-size: 26px; margin-top: 0; text-transform: uppercase; text-align: center; color: #ffffff; position: relative; padding-bottom: 20px;}

.blue-quote-form h3:before {background: #ffffff; bottom: 0; content: ""; height: 1px; left: 50%; margin-left: -65px; position: absolute; width: 130px;}

.blue-quote-form h3:after {position:absolute; bottom: -5px; border: 2px solid #ffffff; border-radius: 50%; content: ""; height: 13px; left: 50%; margin-left: -6.5px; width: 13px;}

.blue-quote-form input, .blue-quote-form textarea {border: none; background: none; border-bottom: 1px solid #8fdafc; color: #ffffff; width: 100%; padding: 10px 0;}

.blue-quote-form input:focus, .blue-quote-form input:active {outline: none;}

.blue-quote-form textarea {height: 100px;}

.blue-form-submit {text-align: center; margin-top: 20px;}

.blue-form-submit button[type="submit"] {background: #ffffff; color: #19b5ff; border-radius: 5px; padding: 10px; text-transform: uppercase; border: none;}