@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Changa+One:400,400i');

/* Base CSS */
.alignleft         		  {float: left; margin-right: 15px;}
.alignright        		  {float: right; margin-left: 15px;}
.aligncenter       		  {display: block; margin: 0 auto 15px;}
a:focus            		  {outline: 0 solid}
img                		  {max-width: 100%; height: auto;}
h1,h2,h3,h4,h5,h6  		  {margin: 0 0 15px; font-weight: 400;}
body               		  {color: #878787; font-family: 'Roboto', sans-serif; font-weight: 400; font-size: 15px; line-height: 1.8;}
a:hover            		  {text-decoration: none;}


/* Main CSS */
.section-padding		  	   {padding: 80px 0;}
.single-promo-box			   {position: relative; display: block; height: 280px; color: #fff; transition: .3s; cursor: pointer; background-image: url("../img/photo-1.jpg"); background-size: cover; background-position: center;}
.single-promo-box:hover 	   {color: #fff; transform: scale(1.03); box-shadow: 0 0 10px #999;}
.promo-bg-2					   {background-image: url("../img/photo-2.jpg");}
.promo-bg-3					   {background-image: url("../img/photo-3.jpg");}
.promo-content				   {position: absolute; font-size: 18px; text-align: center; bottom: 0px; left: 0; padding: 25px; width: 100%;}
.promo-content h2			   {font-family: 'Changa One', cursive; font-style: italic; font-size: 45px; margin-bottom: 5px;}
.scrollToTop .fa 			   {position: fixed; background: #FFA417; color: #fff; width: 50px; height: 50px; line-height: 47px; border-radius: 50px; right: 30px; bottom: 50px; text-align: center; font-size: 40px;}
.scrollToTop				   {display:none; }
.scrollToTop:hover			   {text-decoration:none;}

