@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700,700i');

/* Base CSS */

.alignleft         {float: left; margin-right: 15px;}

.alignright        {float: right; margin-left: 15px;}

.aligncenter       {display: block; margin: 0 auto 15px;}

a:focus            {outline: 0 solid}

img                {max-width: 100%; height: auto;}

h1,h2,h3,h4,h5,h6  {margin: 0 0 15px; font-weight: 300;}

body               {font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 15px; line-height: 1.7;}

a:hover            {text-decoration: none;}

.header-top-area   					     {background: #218ae6; padding: 10px 0;}
.header-top-area, .header-top-area a     {color: #ffffff;}
.header-top-area .text-right i.fa        {padding-left: 20px;}

.header-area h3						     {font-weight: 700; margin: 24px 0;}
.header-area h3      				     {color: #333333} 
.header-area ul 					     {margin: 0; padding: 0; list-style: none;}
.header-area ul li 					     {display: inline-block;}
.header-area ul li a				     {display: block; color: #333333; padding: 25px 0; text-transform: uppercase; padding-right: 0; padding-left: 50px;}
.header-area ul li a:hover 			     {color: #218ae6;}

.homepage-slides   					     {background: #218ae6; color: #ffffff; font-size: 17px;}
.homepage-slides h2  				     {font-size: 50px; font-weight: 100;}
.boxed-btn							     {background: #f9cf25; color: #333333; font-weight: 400; padding: 12px 23px; border-radius: 3px; margin-top: 10px; text-transform: uppercase; display: inline-block;}
.single-homepage-slide				     {padding: 150px 0;}
.homepage-slides .owl-dots			     {position: absolute; bottom: 20px; left: 0; width: 100%; text-align: center;}
.homepage-slides .owl-dots	div		     {background: #ffffff ; width: 10px; height: 10px; border-radius: 50%; display: inline-block; margin: 5px;}
.homepage-slides .owl-dots	div.active   {background: #f9cf25; }