@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

body {font-family: 'Lato', sans-serif; font-size: 15px; }

a:hover {text-decoration: none;}

.header-top {background: #0b0b0b; padding: 14px 0;}

.header-top, .header-top a {color: #f5f3f3;}

.header-top i.fa {color: #fc721e; padding-right: 7px;}

.header-top i.fa.fa-phone {padding-left: 30px;}

.social-link {padding-left: 30px;}

.social-link a {display: inline-block; width: 32px; height: 32px; line-height: 32px; text-align: center; border: 1px solid #f5f3f3; border-radius: 50%;}

.social-link a:hover {background: #fc721e; border: 1px solid #0b0b0b;}

.social-link i.fa {padding-right: 0px; color: #f5f3f3;}

.header-area {padding: 17px 0;}

.site-logo {display: inline-block; font-size: 20px; font-weight: 700; border: 1px solid #0b0b0b; margin-bottom: 0px; padding: 15px 20px; text-transform: uppercase;}

.mainmenu ul {margin: 0; padding: 0; list-style: none;} 

.mainmenu ul li {display: inline-block;}

.mainmenu ul li a {display: block; font-size: 14px; font-weight: 900; padding: 14px 17px; color: #0b0b0b; text-transform: uppercase; border: 1px solid transparent;}

.mainmenu ul li:hover > a {border: 1px solid #fc721e;}
